.landing-background {
  background: url(https://images.wallpaperscraft.com/image/sunset_sky_hills_117374_1920x1080.jpg) no-repeat bottom fixed;
  background-size: auto;
  height: 600px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.search-bar {
  padding-top: 225px;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #2f3032;
  height: 200px;
  padding-left: 75px;
}

.approval-page {
  padding-bottom: 50px;
}