@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

.sunset-background {
  background: url('images/uhstudents.jpg') no-repeat bottom fixed;
  background-size: cover;
  height: 1000px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.purple-background {
  background: whitesmoke;
}

.search-bar {
  padding-top: 225px;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #2f3032;
  height: 50px;
  padding-left: 75px;
}

.approval-page {
  padding-bottom: 50px;
}

.solway-font {
  font-family: 'Solway';
}

.tomorrow-font {
  font-family: 'Tomorrow';
}